name: CI

on:
  push:
    branches: [ 'main' ]

jobs:
  linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-submit
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: java-kotlin, c-cpp
          build-mode: manual
          dependency-caching: true

      - name: Spotless Check
        run: ./gradlew spotlessCheck

      - name: Gradle Build
        run: ./gradlew assembleRelease

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4

      - name: Upload app
        uses: actions/upload-artifact@v4
        with:
          name: EhViewer-${{ github.sha }}
          path: app/build/outputs

      - name: Set ci tag
        run: git tag -f ci; git push -f --tags

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "app/build/outputs/apk/release/app-release.apk"
          name: "CI Build"
          omitBody: true
          omitBodyDuringUpdate: true
          tag: ci
